{% extends "layout.html" %}
{% block body %}

<table class='table'>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Port</th>
      <th>Last Report</th>
      <th>Local IP</th>
      <th>External IP</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  {% for c in clients %}
    <tr>
      <td>{{ c[0] }}</td>
      <td>{{ c[1] }}</td>
      <td>{{ c[2] }}</td>
      <td>{{ c[3] }}</td>
      <td>{{ c[4] }}</td>
      <td><a href="/release/{{ c[0] }}">Release Port</a></td>
      <td><a href="/restart/{{ c[0] }}">Force Restart</a></td>
      <td><a href="/show/{{ c[0] }}">Show</a></td>
    </tr>
  {% endfor %}


  </tbody>
</table>

{% endblock %}
